////
/// Animations
/// -> Keyframes and every other general animation to be applied
/// @group Animations
////

///
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    z-index: 5;

    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    z-index: 5;

    opacity: 1;
  }
}
.anim__fade-in {
  animation: fade-in 1s ease forwards;
}

.anim__info-1 {
  opacity: 0;
  -webkit-animation: fade-in 1000ms ease 3800ms forwards;
     -moz-animation: fade-in 1000ms ease 3800ms forwards;
       -o-animation: fade-in 1000ms ease 3800ms forwards;
          animation: fade-in 1000ms ease 3800ms forwards;
}
.anim__info-2 {
  opacity: 0;
  -webkit-animation: fade-in 1000ms ease 2600ms forwards;
     -moz-animation: fade-in 1000ms ease 2600ms forwards;
       -o-animation: fade-in 1000ms ease 2600ms forwards;
          animation: fade-in 1000ms ease 2600ms forwards;
}
.anim__info-3 {
  opacity: 0;
  -webkit-animation: fade-in 1000ms ease 1300ms forwards;
     -moz-animation: fade-in 1000ms ease 1300ms forwards;
       -o-animation: fade-in 1000ms ease 1300ms forwards;
          animation: fade-in 1000ms ease 1300ms forwards;
}
.anim__info-4 {
  opacity: 0;
  -webkit-animation: fade-in 150ms ease 500ms forwards;
     -moz-animation: fade-in 150ms ease 500ms forwards;
       -o-animation: fade-in 150ms ease 500ms forwards;
          animation: fade-in 150ms ease 500ms forwards;
}
///
@keyframes fade-out {
  from {
    visibility: visible;

    opacity: 1;
  }

  to {
    visibility: hidden;

    opacity: 0;
  }
}
///
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
///
@keyframes slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
///
@keyframes tnc-preloader {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  }
}
///
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}
