////
/// Placeholders
/// @group Placeholders
/// @author Damian Muti
////

///
@import "../core/settings";

///
%text--small {
  font-size: 80%
}
///
%text--left {
  text-align: left
}
///
%text--right {
  text-align: right
}
///
%text--center {
  text-align: center
}
///
%text--light {
  font-weight: $tnc-font-weight-light
}
///
%text--regular {
  font-weight: $tnc-font-weight-regular
}
///
%text--semibold {
  font-weight: $tnc-font-weight-semibold
}
///
%text--bold {
  font-weight: $tnc-font-weight-bold
}
///
%text--uppercase {
  text-transform: uppercase
}
