////
/// Base File
/// Init css basic settings
/// @group Base
////


@import './typography';


*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font: $tnc-font;

  overflow: hidden;

  color: $tnc-font-color;
}

body {
  background-color: $tnc-background;
}

img {
  display: inline-block;

  max-width: 100%;
  height: auto;

  outline: 0;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

blockquote {
  margin: 0;
}

menu,
nav {
  ul,
  li {
    margin: 0;
    padding: 0;
  }
}

hr {
  width: 100%;
  height: 20px;
  margin: 0 0 20px;

  border: none;
  border-bottom: 1px dashed;
}

button {
  &:focus {
    outline: none;
  }
}

a {
  transition: all $tnc-transition-duration $tnc-transition-timing;
  text-decoration: none;
}
