////
/// Settings File
/// Init fonts, backgrounds, wrappers, breakpoints and Transition variables
/// @group Settings
////


/// Fonts ///
///
$tnc-font-size            : 16px;
///
$tnc-font-weight          : 400;
///
$tnc-font-family          : 'Whitney Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
///
$tnc-font                 : $tnc-font-weight toem($tnc-font-size) $tnc-font-family;
///
$tnc-font-weight-light    : 300;
///
$tnc-font-weight-regular  : $tnc-font-weight;
///
$tnc-font-weight-semibold : 600;
///
$tnc-font-weight-bold     : 700;
///
$tnc-font-color           : #00bfff;
///
$tnc-font-color-bright    : #edede6;
///
$tnc-font-color-dark      : $tnc-font-color;
///
$tnc-font-color-white     : #fff;



/// Background ///
///
$tnc-background           : $tnc-font-color-bright;
$tnc-background--footer   : #252525;
$tnc-color--footer        : #666666;
///
$tnc-background-bright    : $tnc-background;



/// Wrapper ///
///
$tnc-wrapper-min-width    : torem(1200px);



/// Breakpoints ///
///
$tnc-breakpoints          : (
'desktop-fhd'             : (max-width: 1920px),
'desktop'                 : (max-width: 1366px),
'ipad'                    : (min-width: 1023px, max-width: 1024px),
'isdesktop'               : (min-width: 1024px),
'ismobile'                : (max-width: 1024px),
'iphone'                  : (max-width: 980px)
);



/// Transition/Animation ///
///
$tnc-transition-duration  : 0.25s;
///
$tnc-transition-timing    : ease;
