////
/// Home
/// @group Home
/// @author MS
////

// -------------------------------------
//   Variables
// -------------------------------------


// -------------------------------------
//   Code
// -------------------------------------

.wrapper {
  @include cf();

  position: relative;

  display: block;

  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2vh 6vh;
}

.section {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  &-2 {
    background-image: url('../img/section-08.jpg');
  }
  &-3 {
    background-image: url('../img/section-07.jpg');
  }
  &-4 {
    background-image: url('../img/section-06.jpg');
    background-position: bottom center;
  }
  &-5 {
    background-image: url('../img/section-05.jpg');
  }
  &-6 {
    background-image: url('../img/section-04.jpg');
  }
  &-7 {
    background-image: url('../img/section-02.jpg');
    background-position: center center;
  }
  &-8 {
    background-image: url('../img/section-04.jpg');
  }
}

.svg__path {
  display: block;

  height: 100%;
  margin: 0 auto;
}

#svg__line {
  text-align: center;
  height: 100%;

  svg {
    animation: glow 10s infinite cubic-bezier(0.82, 0.09, 0.53, 0.77);
  }
}

.scroll__source {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, 0%);
  text-align: center;
  p {
    margin: toem(15px) 0 0 0;

    text-transform: uppercase;
  }
  .icon-location {
    font-size: toem(95px);

    display: block;

    margin: 0 auto;
  }
}

.share__section {
  background-image: url('../img/section-09.jpg');
  .main__footer {
    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    padding: 2.5vh 5vh;

    color: $tnc-color--footer;
    background-color: $tnc-background--footer;
    p {
      font-family: 'Whitney Pro';
      font-size: toem(14px);
      font-weight: 300;
      line-height: 1.2;

      margin-top: 0;
      margin-bottom: toem(10px);

      text-transform: uppercase;
    }
    small {
      font-family: 'Whitney Pro';
      font-size: toem(13px);
      font-weight: 300;
    }
  }
}

.main__section {
  position: relative;

  background-image: url('../img/section-01.jpg');
  background-position: center center;
  .content__container {
    position: absolute;
    top: 78%;
    left: 50%;

    transform: translate(-50%, -78%);
    text-align: center;
    h1:first-of-type {
      font-size: toem(54px);

      margin-bottom: toem(5px);
    }
    h3 {
      line-height: 1.3;

      margin: 0;

      text-transform: uppercase;
      &:last-child {
        font-weight: 600;
      }
    }
  }
}

@keyframes glow {
  0%, 100% {
    transform: matrix(1,0,0,1,0,0) rotateZ(0deg);
  }

  50% {
    transform: matrix(1,0.038,0.038,1,0,0) rotateZ(.25deg);
  }
}
