<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TNC Project</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="" />
    <!-- Open Graph metatags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <!-- Stylesheets and polyfills -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" type="text/css" href="./css/jquery.mb.YTPlayer.min.css">
    <!-- Mapbox Styles -->
    <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' rel='stylesheet' type='text/css' />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content=""><!-- Add brand color -->
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  </head>
  <body class="">
    <div class="preloader__container">
      <div class="tnc-cube-grid">
        <div class="tnc-cube tnc-cube1"></div>
        <div class="tnc-cube tnc-cube2"></div>
        <div class="tnc-cube tnc-cube3"></div>
        <div class="tnc-cube tnc-cube4"></div>
        <div class="tnc-cube tnc-cube5"></div>
        <div class="tnc-cube tnc-cube6"></div>
        <div class="tnc-cube tnc-cube7"></div>
        <div class="tnc-cube tnc-cube8"></div>
        <div class="tnc-cube tnc-cube9"></div>
      </div>
    </div>
    <!-- Header -->
    <header>
    </header>
    <!-- /End of Header -->
    <!-- Content -->
    <main role="main">
      <div id="section__container">
        <div class="section share__section">
          <div class="main__footer">
            <div class="logos__container">
              <img src="img/tnc-logo.svg" alt="">
              <img src="img/suntory-logo.svg" alt="">
            </div>
            <div class="content__container">
              <p>Copyright © 2016 The Nature Conservancy. Terms of Use | Privacy Policy | Charitable Solicitation Disclosures</p>
              <small>The Nature Conservancy is a nonprofit, tax-exempt charitable organization (tax identification number 53-0242652) under Section 501(c)(3) of the Internal Revenue Code. Donations are tax-deductible as allowed by law.</small>
            </div>
          </div>
          <div class="share__section__container">
            <div class="gif__main">
              <img data-name="ahh" src="img/gifs/gif_ahh.gif" alt="">
            </div>
            <h4><span>1. </span>Pick your gif</h4>
            <ul class="gif__list">
              <li><a href="#"><img data-name="ahh" src="img/gifs/gif_ahh.jpg" alt=""></a></li>
              <li><a href="#"><img data-name="cold" src="img/gifs/gif_cold.jpg" alt=""></a></li>
              <li><a href="#"><img data-name="dog" src="img/gifs/gif_dog.jpg" alt=""></a></li>
              <li><a href="#"><img data-name="runner" src="img/gifs/gif_runner.jpg" alt=""></a></li>
              <li><a href="#"><img data-name="wild" src="img/gifs/gif_wild.jpg" alt=""></a></li>
            </ul>
            <h4><span>2. </span>Share your gif with the world</h4>
            <ul class="socials__holder">
                <li><a id="twitter" data-name="a" meta-url="http://tnc.example" meta-content="The water we drink and use every day — where does it come from? Find out and trace a blue line to the source of your water " meta-via=""><i class="ms-icon icon-twitter"></i></a></li>
                <li><a id="facebook" data-name="a" meta-url="http://tnc.example" meta-title="I found the source of my " meta-content="The water we drink, use to grow food, or even to cool down on a hot summer day — where does it come from? Find out and trace a blue line to the source of your water." meta-image="http://www.nature.org/cs/groups/photoarchivepublic/@photopublic/documents/digitalmedia/fox-kit-new-york-361x248.jpg"><i class="ms-icon icon-facebook"></i></a></li>
            </ul>
            <div class="share__illustration">
              <h4>Share My</h4>
              <h1><span class="ms-icon icon-fish"></span>Source<span class="ms-icon icon-fish"></span></h1>
            </div>
          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section section-2">
          <div id="svg_four">

          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section section-3">
          <div class="text__container">
            <h2>Map Your</h2>
            <h1>Source</h1>
            <a id="iconMap" href="#">
              <span class="ms-icon icon-map"></span>
              <p>Click to open map</p>
            </a>
          </div>
          <div class="map__container">
            <div id='map-one' class='map'>
            </div>
            <div id='directions'>
              <div id="routes"></div>
            </div>
            <form action="" class="form">
              <input id="search-input" class="search" type="search" placeholder="Search City">
              <button id="search-input-btn" class="button">Search</button>
            </form>
            <div class='city'>
              <a class="city__button" href="#"></a>
              <h2 id="cityTitle">Oakland, California</h2>
              <div class="city__information">
                <div class="city__information-about">
                  <h3 id="cityName">About Oakland</h3>
                  <h2 id="citySources"></h2>
                  <p>Water Sources</p>
                  <h2 id="cityKmAverage"></h2>
                  <p>Average Distance to Sources</p>
                </div>
                <div class="city__information-sources">
                  <h3>Water Sources</h3>
                  <ul id="reservoirs" class="reservoirs__list">
                  </ul>
                </div>
                <div class="city__information-goto">
                  <h3>Go to your Source</h3>
                  <form action="">
                    <label for="destination">To:</label>
                    <input type="text" id="destination" name="destination">
                    <label for="origin">From:</label>
                    <input type="text" id="origin" name="origin">
                    <button class="button">Route</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section section-4">
          <div class="scroll__source">
            <span class="ms-icon icon-location"></span>
            <p>You are here</p>
          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section section-5">
          <div class="people__container">
            <div class="people">
              <div class="people__nav"><span class="ms-icon icon-engine"></span><a href="" class="button button__hollow">IQRA (FL)</a></div>
              <div class="people__modal">
                <div class="people__modal__close">
                  <h2>IQRA (FL)</h2>
                  <a class="modal__close" href="#"><span class="close">X</span></a>
                </div>
                <div class="people__modal__content">
                  <div class="item__info">
                    <p>I think a lot of people forget that although water is, globally, a renewable resource, it is still very locally exhaustible. I think to realize the actual impact we have on our water systems – and just how invaluable water is – we have to know where our water comes from.</p>
                  </div>
                  <div class="item__info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque obcaecati numquam quo illum iure ex, natus iusto! Atque repellendus nihil ratione, magni doloremque provident libero explicabo cumque deleniti eos?</p>
                  </div>
                  <div class="item__info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat molestiae iure obcaecati ipsa expedita ullam quae laudantium, fugit aliquam enim voluptatibus consequuntur consequatur dignissimos dolores blanditiis minima, architecto distinctio deleniti!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="people">
              <div class="people__nav"><span class="ms-icon icon-kayak"></span><a href="" class="button button__hollow">SARA(ID)</a></div>
              <div class="people__modal">
                <div class="people__modal__close">
                  <h2>Sara (ID)</h2>
                  <a class="modal__close" href="#"><span class="close">X</span></a>
                </div>
                <div class="people__modal__content">
                  <div class="item__info">
                    <p>The Big Wood River is a part of life here in the Wood River Valley. It provides not only water for drinking,and for watering our lawns, and for washing our dogs, but it also provides water to the ski resort to make snow, which is the biggest part of the livelihood here in the Wood River Valley. (Water for valey)</p>
                  </div>
                  <div class="item__info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque obcaecati numquam quo illum iure ex, natus iusto! Atque repellendus nihil ratione, magni doloremque provident libero explicabo cumque deleniti eos?</p>
                  </div>
                  <div class="item__info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat molestiae iure obcaecati ipsa expedita ullam quae laudantium, fugit aliquam enim voluptatibus consequuntur consequatur dignissimos dolores blanditiis minima, architecto distinctio deleniti!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="people">
              <div class="people__nav"><span class="ms-icon icon-shoe"></span><a href="" class="button button__hollow">GUSTAVO (NY)</a></div>
              <div class="people__modal">
                <div class="people__modal__close">
                  <h2>Gustavo (NY)</h2>
                  <a class="modal__close" href="#"><span class="close">X</span></a>
                </div>
                <div class="people__modal__content">
                  <div class="item__info">
                    <span class="ms-icon icon-location"></span>
                    <p>New York is one city that invests heavily in upstream conservation, and I realize how lucky I am to have a reliable source of clean water every day.This journey to the Catskills is not only a journey to my water source, but a journey to the source of life for the City of New York.</p>
                  </div>
                  <div class="item__info">
                    <span class="ms-icon icon-location"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque obcaecati numquam quo illum iure ex, natus iusto! Atque repellendus nihil ratione, magni doloremque provident libero explicabo cumque deleniti eos?</p>
                  </div>
                  <div class="item__info">
                    <span class="ms-icon icon-location"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat molestiae iure obcaecati ipsa expedita ullam quae laudantium, fugit aliquam enim voluptatibus consequuntur consequatur dignissimos dolores blanditiis minima, architecto distinctio deleniti!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="people__illustration">
              <span class="ms-icon icon-mountain"></span>
              <h4>Meet The</h4>
              <h1>Source Seekers</h1>
              <h5>Select a story to keep exploring</h5>
            </div>
          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section section-6">
          <div id="svg_third">

          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section section-7">
          <div id="svg_second">

          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section section-8">
          <div id="svg_first">

          </div>
          <div class="section__footer">
            <a href="#">#Sourceofyou</a>
          </div>
        </div>
        <div class="section main__section">
          <div class="scroll__source">
              <span class="ms-icon icon-location"></span>
              <h3>Scroll up to find the</h3>
              <h3>#sourceofyou</h3>
            </div>
          <div class="wrapper">
            <div class="logo">
              <img src="img/tnc-logo.svg" alt="">
            </div>            
            <div class="content__container">
              <a id="player_1_open" href="#c-video"><span class="ms-icon icon-play"></span></a>
              <!-- <img src="img/main-place.png" alt=""> -->
              <img src="img/life-blue-line.svg" alt="">
            </div>
          </div>
          <div class="c-modal c-modal__video" id="c-video">
            <a id="player_1_close" href="#!" class="c-modal__close">X</a>
            <div class="c-modal__content">
              <div id="player_1" class="player" data-property="{videoURL:'https://youtu.be/v-RE7RUzjf8',quality: 'low',containment:'self',vol:100,mute:false,autoPlay:false,loop:false,showYTLogo:false,stopMovieOnBlur:false}"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- /End of Content -->
    <!-- Footer -->
    <footer>
    </footer>
    <!-- /End of Footer -->
    <!-- Javascript files -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>');</script>
    <!-- FullPage Plugin -->
    <script type="text/javascript" src="js/plugins/jquery.fullPage.min.js"></script>
    <!-- Mousewheel Plugin -->
    <script type="text/javascript" src="js/plugins/jquery.mousewheel.min.js"></script>
    <!-- YTPlayer Plugin -->
    <script type="text/javascript" src="js/plugins/jquery.mb.YTPlayer.min.js"></script>
    <!-- Raphael Plugin -->
    <script type="text/javascript" src="js/plugins/raphael.min.js"></script>
    <!-- GSAP Plugin -->
    <script type="text/javascript" src="js/plugins/TweenMax.min.js"></script>
    <!-- Mapbox Plugin -->
    <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
    <script src='js/plugins/mapbox.directions.js'></script>
    <!-- SocialShare Script -->
    <script type="text/javascript" src="js/socialShare.js"></script>
    <!-- Map Script -->
    <script type="text/javascript" src="js/script-maps.js"></script>
    <!-- UI Script -->
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>