<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TNC Project</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="" />
  <!-- Open Graph metatags -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="" />
  <!-- Stylesheets and polyfills -->
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <!-- Mapbox Styles -->
  <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' rel='stylesheet' type='text/css' />
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content=""><!-- Add brand color -->
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>

<body class="">

  <!-- Header -->
  <header>
  </header>
  <!-- /End of Header -->

  <!-- Content -->
  <main role="main">
    <div id="fullpage">
      <div class="section">Some section</div>
      <div class="section section-2">
        <div class="map__container">
          <div id='map-one' class='map'>
          </div>
          <form action="" class="form">
            <input id="search-input" class="search" type="search" placeholder="Search City">
          </form>
          <div class='item__list'>
          <div class='heading'>
            <h1>Our WaterSources</h1>
          </div>
          <div id='listings' class='listings'></div>
        </div>
        </div>        
      </div>
      <div class="section section-3">Some section</div>
      <div class="section section-4">Some section</div>
    </div>
  </main>
  <!-- /End of Content -->

  <!-- Footer -->
  <footer>
  </footer>
  <!-- /End of Footer -->

  <!-- Javascript files -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>');</script>

  <!-- fullPage Plugin -->
  <script type="text/javascript" src="js/plugins/jquery.fullPage.min.js"></script>

  <!-- mousewheel Plugin -->
  <script type="text/javascript" src="js/plugins/jquery.mousewheel.min.js"></script>
  
  <!-- mapbox Plugin -->
  <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>


  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/script-maps.js"></script>
</body>

</html>



    